<!DOCTYPE html>
    <head>
        {{range .Meta}}
            <title>{{.Title}}</title>
            <meta name="description" content="{{.Content}}">
        {{end}}
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        {{template "head"}}
    </head>
    <body>

        {{range .User}}
            {{if ne .Role ""}}
                <header class="logout">
                    <a href="/logout">Logout</a>
                </header>
            {{end}}
        {{end}}

        <section class="header">
            <h1 class="main-header">full stack web developer</h1>
            <h2 class="sub-header">currently based in las vegas, nevada</h2>
            <h2 class="sub-header">contact:
                <br>
                <a class="email-contact" href="mailto:chriskingwi@gmail.com">chriskingwi@gmail.com</a>
            </h2>
        </section>

        <section class="main-content">
            <ul class="list-group">
                <li class="list-item list-item-title"><a href="https://freetrack.herokuapp.com/" target="_blank">freeTrack</a></li>
                <li class="list-item">a CRM project built on MongoDB, Express, React, Node, and OAuth2.0</li>
            </ul>
        </section>
        
        <footer>
            <div class="copyright">
                <span>&copy; 2020 <a href="https://www.chriskingwi.com/">chriskingwi.com</a></span>
            </div>
            <div class="social">
                <a href="https://www.linkedin.com/in/christopher-king" target="_blank">linkedin</a>
                <a href="https://www.github.com/ckingchris/" target="_blank">github</a>
            </div>
            <div class="footer-icons">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-js"></i>
                <i class="fab fa-react"></i>
                <i class="fab fa-node-js"></i>
                <span>golang</span>
            </div>
        </footer>

    </body>
</html>