<!DOCTYPE html>
    <head>
        {{range .Meta}}
            <title>{{.Title}}</title>
            <meta name="description" content="{{.Content}}">
        {{end}}
        {{template "head"}}
    </head>
    <body>
        <section class="container">
            <form class="form" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" placeholder="username" type="text">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" placeholder="password" type="text">
                </div>
                <div class="form-group button-group button-right">
                    <button type="submit">Login</button>
                </div>
                <div class="form-group">
                    <span>Need an account? </span><a href="/signup">Sign up</a>
                </div>
            </form>
        </section>
    </body>
</html>