<!DOCTYPE html>
    <head>
        {{range .Meta}}
            <title>{{.Title}}</title>
            <meta name="description" content="{{.Content}}">
        {{end}}
        {{template "head"}}
    </head>
    <body>
        <section class="container">
            <form class="form" method="POST">
                {{range .Error}}
                    <div class="form-group">                    
                        <span class="error-message">{{.Error}}</span>                   
                    </div>
                {{end}}
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" placeholder="username" type="text" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" placeholder="password" type="text" required>
                </div>
                <div class="form-group hide">
                    <label>First name</label>
                    <input name="fname" placeholder="first name" value="" type="text">
                </div>
                <div class="form-group hide">
                    <label>Last name</label>
                    <input name="lname" placeholder="last name" value="" type="text">
                </div>
                <div class="form-group select-group">
                    <label>Role</label>
                    <div class="selectdiv">
                        <select name="role" required>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                </div>
                <div class="form-group button-group button-right">
                    <button type="submit">Sign up</button>
                </div>
                <div class="form-group">
                    <span>Already have an account? </span><a href="/login">Login</a>
                </div>
            </form>
        </section>
    </body>
</html>